*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1{
  border-bottom: 2px solid orange;
  width: 170px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.icon-container{
  border: 1px solid gray;
  width: 80px;
  height: 80px;
  text-align: center;
  transform: rotate(45deg);
  margin: 30px;
}
i{
  line-height: 80px !important;
  transform: rotate(-45deg);
}
h2{
  margin-bottom: 10px;
}